<module>
	<rawname>smsussd</rawname>
	<name>MageDoc SMS &amp; USSD</name>
	<version>0.1.0.0</version>
	<candisable>yes</candisable>
	<canuninstall>yes</canuninstall>
	<changelog>
		*0.1.0.0* Original Release (beta)
	</changelog>
	<description>
		Allows to send and receive SMS and USSD commands
	</description>
	<attention>
		Are you ready do install MageDoc SMS &amp; USSD module?
	</attention>
	<info>https://github.com/MageDoc/FreePBX-SMS-USSD</info>
	<depends>
		<module>core</module>
		<version>ge2.2</version>
    </depends>
    <category>Applications</category>
    <menuitems>
        <smsussd>SMS &amp; USSD</smsussd>
    </menuitems>
</module>

